@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.book.font-family-0 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  line-height: 1.5em;
}

.book.font-family-1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  line-height: 1.5em;
}

.page-inner {
  max-width: 80% !important; 
  width: 70% !important;
}

body{
  font-size: 18px;
}

.markdown-section h1, 
.markdown-section h2, 
.markdown-section h3, 
.markdown-section h4, 
.markdown-section h5 {
  line-height: 1em;
  font-weight: bold;
  color: #505050;
}

.markdown-section h1 {
  line-height: 1.8em;
  font-size: 2em; 
  padding: 0.4em 0.8em;/*文字の上下 左右の余白*/
  color: #fff;/*文字色*/
  background: #00BBE0;/*背景色*/
  border-radius: 0.2em;/*角丸*/
}

.markdown-section h2 {
  line-height: 1.5em;
  font-size: 1.8em;
  padding: 0em 0.5em;
  color: #00BBE0;/*文字色*/
  border-bottom: solid 2px #00BBE0;
}

.markdown-section h3 {
  line-height: 1em;
  font-size: 1.4em;
  padding: 0em 0em;
  color: #00BBE0;/*文字色*/
}

.markdown-section h5 a {
  font-size: 24px;
  line-height: 1.5em;
  display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: auto;
	margin: auto;
	padding: 1em 4em;
	font-weight: bold;
	border: 2px solid #00BBE0;
	color: #00BBE0;
	border-radius: 100vh;
	transition: 0.5s;
}

.markdown-section h5 a:hover {
  color: #fff;
	background: #00BBE0;
}

.markdown-section h4 a {
  font-size: 12px;
  line-height: 1.5em;
  display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1em 4em;
	font-weight: bold;
	border: 2px solid #00BBE0;
	color: #00BBE0;
	border-radius: 100vh;
	transition: 0.5s;
}

.markdown-section h4 a:hover {
  color: #fff;
	background: #00BBE0;
}

svg {
	vertical-align: -3px;
}